@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;

}


.artbox {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  place-items: center;
  gap: 20px;
}

.circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cylinder{
  width: 100px;
  height: 200px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.design-container img {
  width: 100px;
  height: 200px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 50px;
  object-fit: cover;
  transition: 0.5s all;

}



.bg{
  background-image: url(/src/assets/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}




.contact_cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .contact_card {
    min-width: 290px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin: 2rem 0;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fef4f5;

    transition: all 0.3s ease-in-out;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }


    a {
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.contact_cards .contact_card:last-child {
  background-color: #f2f7fb;
}

.contact_cards .contact_card:last-child:hover {
  box-shadow: 0 0 25px #f2f7fb;
}

.contact_form {
  width: 60%;
  flex-direction: column;
  margin: 1rem 2rem;

  div {
    width: 100%;

    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #EDF2F8;

    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 7px;

      outline: 2px #E8E8E8 solid;
    }

    textarea {
      height: 300px;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }

}

.contact_btn{
  @apply  text-white  border-2 border-[#FF0000] hover:border-[#008000]  cursor-pointer py-3 px-10 rounded-md bg-[#FF0000] hover:bg-[#008000] transition-all duration-300 ease-in-out flex items-center justify-center
}